<!DOCTYPE html>
<html ng-app="app">
  <head>
    <meta charset="utf-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>

    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
    <link rel="manifest" href="favicon/site.webmanifest">
    <link rel="mask-icon" href="favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <meta ng-bind="title" content="EL Notebook" name="apple-mobile-web-app-title"/>
    <meta ng-bind="title" content="EL Notebook" name="application-name"/>
    <base href="/"></base>

    <title>El Notebook</title>
    <meta name="description" content="El notebook is a basic notes app that delivers only the essentials in note taking. Because of its simplicity and resistance to growth, users can count on durability and convenience."/>

    <meta name="twitter:title" content="El notebook, a private and secure notes app."/>
    <meta name="twitter:description" content="El notebook is a basic notes app that delivers only the essentials in note taking. Because of its simplicity and resistance to growth, users can count on durability and convenience."/>
    <meta name="twitter:site" content="@elnotebook"/>
    <meta name="twitter:card" content="summary"/>

    <meta name="og:title" content="El notebook, a private and secure notes app."/>
    <meta name="og:description" content="El notebook is a basic notes app that delivers only the essentials in note taking. Because of its simplicity and resistance to growth, users can count on durability and convenience."/>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-157962192-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-157962192-1');
    </script>

    <script>
      window._default_sf_server = "<%= ENV['SF_DEFAULT_SERVER'] %>";
      window._extensions_manager_location = "<%= ENV['EXTENSIONS_MANAGER_LOCATION'] %>";
      window._batch_manager_location = "<%= ENV['BATCH_MANAGER_LOCATION'] %>";
    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/5.0.0/collection/components/icon/icon.min.css"></link>
    <% if Rails.env.development? %>
      <%= javascript_include_tag "javascripts/app.js", debug: true %>
    <% else %>
      <%= javascript_include_tag "javascripts/app.js", debug: false %>
    <% end %>
    <%= stylesheet_link_tag "stylesheets/app.css", media: "all", debug: false %>


  </head>

  <body>
     <root />
  </body>

</html>
