#tags-column.sn-component.section.tags(aria-label='Tags')
  .component-view-container(ng-if='self.component.active')
    component-view.component-view(component='self.component')
  #tags-content.content(ng-if='!(self.component && self.component.active)')
    .tags-title-section.section-title-bar
      .section-title-bar-header
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20" height="35" viewBox="0 0 20 35"><defs><filter id="a" x="0" y="0" width="20" height="35" filterUnits="userSpaceOnUse"><feOffset dy="6" input="SourceAlpha"/><feGaussianBlur result="b"/><feFlood flood-opacity="0.161"/><feComposite operator="in" in2="b"/><feComposite in="SourceGraphic"/></filter></defs><g transform="matrix(1, 0, 0, 1, 0, 0)" filter="url(#a)"><path d="M0,0H15a5,5,0,0,1,5,5V24a5,5,0,0,1-5,5H0a0,0,0,0,1,0,0V0A0,0,0,0,1,0,0Z"/></g></svg>
        .sk-button.sk-secondary-contrast.wide(
          ng-click='self.clickedAddNewTag()', 
          title='Create a new tag'
          )
          .sk-label
            i.icon.ion-md-add.add-button
    .scrollable
      .infinite-scroll
        .tag(
          ng-class="{'selected' : self.state.selectedTag == tag, 'faded' : !tag.content.isAllTag}", 
          ng-click='self.selectTag(tag)', 
          ng-repeat='tag in self.state.smartTags'
          )
          .tag-info
            input.title(ng-disabled='true', ng-model='tag.title')
            .count(ng-show='tag.content.isAllTag') {{self.state.noteCounts[tag.uuid]}}
        .tags-title-section.section-title-bar
          .section-title-bar-header
            .sk-h3.title
              span.sk-bold Tags
        .tag(
          ng-class="{'selected' : self.state.selectedTag == tag}", 
          ng-click='self.selectTag(tag)', 
          ng-repeat='tag in self.state.tags track by tag.uuid'
          )
          .tag-info
            .tag-icon #
            input.title(
              ng-attr-id='tag-{{tag.uuid}}', 
              ng-blur='self.saveTag($event, tag)', 
              ng-change='self.tagTitleDidChange(tag)', 
              ng-class="{'editing' : self.state.editingTag == tag}", 
              ng-click='self.selectTag(tag)', 
              ng-keyup='$event.keyCode == 13 && $event.target.blur()', 
              ng-model='tag.title', 
              should-focus='self.state.newTag || self.state.editingTag == tag', 
              sn-autofocus='true', 
              spellcheck='false'
              )
            .count {{self.state.noteCounts[tag.uuid]}}
          .danger.small-text.bold(ng-show='tag.content.conflict_of') Conflicted Copy
          .danger.small-text.bold(ng-show='tag.errorDecrypting') Missing Keys
          .menu(ng-show='self.state.selectedTag == tag')
            a.item(ng-click='self.selectedRenameTag($event, tag)', ng-show='!self.state.editingTag') Rename
            a.item(ng-click='self.saveTag($event, tag)', ng-show='self.state.editingTag') Save
            a.item(ng-click='self.selectedDeleteTag(tag)') Delete
        .no-tags-placeholder(ng-show='self.state.tags.length == 0')
          | No tags. Create one using the add button above.
  panel-resizer(
    collapsable='true', 
    control='self.panelController', 
    default-width='150', 
    hoverable='true', 
    on-resize-finish='self.onPanelResize', 
    panel-id="'tags-column'"
    )
